/*
 * CMSForNerd Theme Stylesheet
 * Refactored for modern standards
 * Original Source: http://css.maxdesign.com.au/floatutorial/tutorial0916.htm
 */

/* -------------------------------------------------------------------------- */
/*                                 Base Styles                                */
/* -------------------------------------------------------------------------- */

body {
  color: #000;
  background-color: #fff;
  line-height: 1.5;
  font-family: Georgia, Arial, sans-serif;
  /* Set default font family inferred from usage */
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 0.5em;
  font-family: Geneva, Arial, Helvetica, sans-serif;
}

h1 {
  font-size: 1.3em;
  padding: 0;
  margin: 0;
}

h2 {
  font-size: 1.2em;
  color: #000;
  margin: 0 0 6px 0;
  padding: 3px 6px;
  /* Modern CSS3 Gradient replacing bgtop.gif */
  background: linear-gradient(to bottom, #eeeeee, #cccccc);
}

h3 {
  font-size: 12px;
  text-transform: uppercase;
  margin-left: 3px;
  margin-right: -3px;
  color: #006699;
  line-height: 15px;
  text-align: justify;
  border-bottom: 1px outset #ccc;
}

h4,
h5,
h6 {
  font-size: 1.1em;
}

p {
  margin-top: 0.5em;
  margin-bottom: 0.9em;
}

/* -------------------------------------------------------------------------- */
/*                                    Links                                   */
/* -------------------------------------------------------------------------- */

a {
  text-decoration: none;
  font-weight: bold;
}

a:link {
  color: #003399;
  background-color: transparent;
}

a:visited {
  color: #0066cc;
  background-color: transparent;
}

a:hover {
  color: #660000;
  /* #600 expanded */
  text-decoration: underline;
  background-color: transparent;
}

/* Potential typo in original: 'h3a'. Preserved content but formatted. */
h3a {
  font-family: "Century Gothic", sans-serif;
  font-weight: bold;
  margin-left: 0;
  background-color: #fff;
  color: #fff;
  font-size: 10px;
  text-align: center;
}

/* -------------------------------------------------------------------------- */
/*                                   Layout                                   */
/* -------------------------------------------------------------------------- */

#container {
  width: 1000px;
  margin: 10px auto;
  background-color: #fff;
  color: #000;
  line-height: 1.3;
}

#top,
#top1,
#top2 {
  padding: 0;
  background-color: #fff;
}

#top h1 {
  padding: 0;
  margin: 0;
}

#leftnav {
  float: left;
  width: 15%;
  margin-left: 3px;
  padding: 0;
  vertical-align: top;
}

#rightnav {
  float: right;
  width: 15%;
  margin-left: 3px;
  padding: 0;
  vertical-align: top;
}

#leftnav p,
#rightnav p {
  margin: 0 0 1em;
}

#content {
  margin-left: 165px;
  margin-right: 165px;
  border-left: 1px dotted #000;
  border-right: 1px dotted #000;
  padding: 0.5em;
  max-width: 56em;
}

#content h2 {
  margin: 0 0 0.5em;
}

.content-body {
  font-size: 11px;
  margin-left: 3px;
  margin-right: 3px;
  color: #000;
  line-height: 15px;
  font-family: Georgia, Arial, sans-serif;
  text-align: justify;
  /* height: 1570px; - Recommendation: Avoid fixed heights for content bodies */
  min-height: 600px;
  /* Modern approach: min-height instead of fixed height */
}

#footer {
  clear: both;
  margin: 0;
  padding: 8px 0 10px;
  color: #000;
  background-color: #faafba;
  text-align: center;
  line-height: 15px;
  font-family: Georgia, Arial, sans-serif;
  font-size: 10px;
}

/* -------------------------------------------------------------------------- */
/*                               Components                                   */
/* -------------------------------------------------------------------------- */

/* Navigation Buttons */
.buttonscontainer {
  width: 100px;
}

.buttons a {
  color: #000033;
  background-color: transparent;
  padding: 2px 2px 2px 3px;
  display: block;
  border-left: 5px solid #fdce7d;
  font: 11px Georgia, Arial, sans-serif;
  font-weight: bold;
  text-decoration: none;
  text-align: left;
  margin-top: 1px;
}

.buttons a:hover {
  border-left: 5px solid #000033;
  color: #ff9933;
  text-decoration: none;
}

/* Header Table Layout */
table.header {
  text-align: center;
  width: 100%;
}

td.header {
  width: 100px;
  text-align: right;
  vertical-align: middle;
}

img.header {
  border: 0;
  width: 100px;
  height: 50px;
  /* float: center; - Invalid property, removed/ignored in modern CSS */
}

td.header2 {
  text-align: left;
  vertical-align: middle;
}

td.header3 {
  text-align: center;
  vertical-align: middle;
}

div.header {
  text-align: center;
}