[Unit]
Description=CmsForNerd Podman Compose Production Stack
After=network-online.target

[Service]
Type=simple
WorkingDirectory={{ project_path }}
ExecStart=/usr/bin/podman-compose -f compose.yml -p {{ compose_project_name }} up
ExecStop=/usr/bin/podman-compose -f compose.yml -p {{ compose_project_name }} down
Restart=always

[Install]
WantedBy=default.target
