version: '3.8'

services:
  bunkerweb:
    # Explicitly configured Standalone/CLI Mode for BunkerWeb (HTTP-only)
    image: "{{ bunkerweb_image }}"
    container_name: cms-bunkerweb
    ports:
      - "80:8080"
    environment:
      - SERVER_NAME={{ cms_domain }}
      - USE_REVERSE_PROXY=yes
      - REVERSE_PROXY_URL_1=/
      - REVERSE_PROXY_HOST_1=http://cms-nginx:80
      - LISTEN_HTTP=yes
      - LISTEN_HTTPS=no
      - HTTPS_PORT=
      - MULTISITE=no
      - USE_BUNKERNET=no
      - USE_RECON=no
      - SEND_ANONYMOUS_REPORT=no
    volumes:
      - "{{ bunkerweb_path }}/data:/var/lib/bunkerweb:Z"
      - "{{ bunkerweb_path }}/configs:/etc/bunkerweb:Z"
    userns_mode: "keep-id"
    user: "{{ podman_cms_uid }}:{{ podman_cms_gid }}"
    restart: always
    security_opt:
      - no-new-privileges
    cap_drop:
      - all
    cap_add:
      - NET_BIND_SERVICE

  cms-nginx:
    image: "{{ nginx_image }}"
    container_name: cms-nginx
    volumes:
      - "{{ nginx_path }}:/etc/nginx/conf.d:Z,ro"
      - "{{ codes_path }}:/var/www/html:Z,ro"
    userns_mode: "keep-id"
    user: "{{ podman_cms_uid }}:{{ podman_cms_gid }}"
    restart: always
    security_opt:
      - no-new-privileges
    cap_drop:
      - all
    depends_on:
      - cms-php

  cms-php:
    image: "localhost/cmsfornerd-php:{{ php_version }}"
    container_name: cms-php
    volumes:
      - "{{ php_fpm_path }}/www.conf:/usr/local/etc/php-fpm.d/www.conf:Z,ro"
      - "{{ codes_path }}:/var/www/html:Z"
    userns_mode: "keep-id"
    user: "{{ podman_cms_uid }}:{{ podman_cms_gid }}"
    restart: always
    security_opt:
      - no-new-privileges
    cap_drop:
      - all
