server {
    listen 80;
    server_name {{ cms_domain }};
    root /var/www/html;
    index index.php index.html index.htm;

    # Security: Block access to sensitive directories and files
    location ~ /\.git {
        deny all;
    }

    location ~ \.inc$ {
        deny all;
    }

    location / {
        try_files $uri $uri/ /index.php?$query_string;
    }

    location ~ \.php$ {
        fastcgi_pass cms-php:9000;
        fastcgi_index index.php;
        include fastcgi_params;
        fastcgi_param SCRIPT_FILENAME $document_root$fastcgi_script_name;
        fastcgi_param PATH_INFO $fastcgi_path_info;
    }

    # Optimisation: Gzip settings
    gzip on;
    gzip_types text/plain text/css application/json application/javascript text/xml application/xml application/xml+rss text/javascript;
}
